h1 {
  color: blue;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%; max-width: 1500px;
  padding: 0 30px;
  color: #fff;
}

.header-nav-list {
  color: #fff;
  display: flex;
  font-weight: bold;
  justify-content: flex-end;
  width:600px;
  padding: 50px;
  margin: 550px;

}

.child {
  width: 150px;
  padding: 5px;
  margin: 1px;
}


.photo {
  background-image: url("img/firstview.jpeg");
  background-repeat: no-repeat;
  position: absolute;
  background-position: right 0px top 50px;
  background-size: 800px 500px;
  width: 1450px;
  height: 3000px;
  z-index: 1;
}

p {
  font-size: 64px;
  padding: 0px;
  border: 0px;
  margin: 0px;
  position: relative;
  top: 400px;
}

.boxsizing {
  width: 800px;
  height: 128px;
  background-color: blue;
  padding: 0px;
  border: 0px;
  margin: 0px;
  position: relative;
  top: 380px;
}